<header class="mb-5">
    <x-navbar expand="md">
        <x-container>

            <a class="navbar-brand" href="#">K1Plaza <i class="fa fa-heart"></i> Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse">
                <x-menu selector=".nav-item">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">-</a>
                        </li>
                    </ul>            
                </x-menu>
            </div>
    
        </x-container>
    </x-navbar>
</header>