<x-meta title="Alerts" />

<x-wrap>

    <x-row>

        <x-col size="12">
            <a class="float-right text-muted" href="https://getbootstrap.com/docs/4.0/components/alerts/" target="docs">Ver documentação original
                <i class="fa fa-external-link-alt"></i>
            </a>
            <h1 class="mb-4">Alerts</h1>
        </x-col>

        <!-- exibir codigo fonte do exemplo dentro da tag <pre> la embaixo -->
        <x-show-example-code unindent="8" />

        <!-- exemplo -->
        <x-col class="example">

            <x-alert color="primary">primary</x-alert>
            <x-alert color="secondary">secondary</x-alert>
            <x-alert color="success">success</x-alert>
            <x-alert color="danger">danger</x-alert>
            <x-alert color="warning">warning</x-alert>
            <x-alert color="info">info</x-alert>
            <x-alert color="light">light</x-alert>
            <x-alert color="dark">dark</x-alert>

        </x-col>

        <!-- codigo fonte do exemplo aparece aqui -->
        <x-col class="col-12">
            <x-card class="mt-5">
                <header>
                    <i class="fa fa-code"></i> Código do exemplo acima</header>
                <div class="card-body">
                    <pre class="pre-scrollable"></pre>
                </div>
            </x-card>
        </x-col>

    </x-row>



</x-wrap>