<x-meta title="Badge" />

<x-wrap>

    <x-row class="mb-5">

        <x-col size="12">
            <a class="float-right text-muted" href="https://getbootstrap.com/docs/4.0/components/badge/" target="docs">Ver documentação original
                <i class="fa fa-external-link-alt"></i>
            </a>
            <h1 class="mb-4">Badges</h1>
        </x-col>


        <!-- exibir codigo fonte do exemplo dentro da tag <pre> la embaixo -->
        <x-show-example-code unindent="8" />

        <!-- exemplo -->
        <x-col class="example">

            <h2 class="mb-4">
                <x-badge color="primary">primary</x-badge>
                <x-badge color="secondary">secondary</x-badge>
                <x-badge color="success">success</x-badge>
                <x-badge color="danger">danger</x-badge>
                <x-badge color="warning">warning</x-badge>
                <x-badge color="info">info</x-badge>
                <x-badge color="light">light</x-badge>
                <x-badge color="dark">dark</x-badge>
            </h2>

            <h3 class="mb-4">
                <x-badge color="primary">primary</x-badge>
                <x-badge color="secondary">secondary</x-badge>
                <x-badge color="success">success</x-badge>
                <x-badge color="danger">danger</x-badge>
                <x-badge color="warning">warning</x-badge>
                <x-badge color="info">info</x-badge>
                <x-badge color="light">light</x-badge>
                <x-badge color="dark">dark</x-badge>
            </h3>

            <h4 class="mb-4">
                <x-badge color="primary">primary</x-badge>
                <x-badge color="secondary">secondary</x-badge>
                <x-badge color="success">success</x-badge>
                <x-badge color="danger">danger</x-badge>
                <x-badge color="warning">warning</x-badge>
                <x-badge color="info">info</x-badge>
                <x-badge color="light">light</x-badge>
                <x-badge color="dark">dark</x-badge>
            </h4>

            <h5 class="mb-4">
                <x-badge color="primary">primary</x-badge>
                <x-badge color="secondary">secondary</x-badge>
                <x-badge color="success">success</x-badge>
                <x-badge color="danger">danger</x-badge>
                <x-badge color="warning">warning</x-badge>
                <x-badge color="info">info</x-badge>
                <x-badge color="light">light</x-badge>
                <x-badge color="dark">dark</x-badge>
            </h5>
        </x-col>

        <!-- codigo fonte do exemplo aparece aqui -->
        <x-col class="col-12">
            <x-card class="mt-5">
                <header>
                    <i class="fa fa-code"></i> Código do exemplo acima</header>
                <div class="card-body">
                    <pre class="pre-scrollable"></pre>
                </div>
            </x-card>
        </x-col>

    </x-row>

    <x-row class="mb-5">

        <!-- exibir codigo fonte do exemplo dentro da tag <pre> la embaixo -->
        <x-show-example-code unindent="8" />

        <!-- exemplo -->
        <x-col class="example">

            <h1 class="mb-5">Pills</h1>

            <h2 class="mb-4">
                <x-pill color="primary">primary</x-pill>
                <x-pill color="secondary">secondary</x-pill>
                <x-pill color="success">success</x-pill>
                <x-pill color="danger">danger</x-pill>
                <x-pill color="warning">warning</x-pill>
                <x-pill color="info">info</x-pill>
                <x-pill color="light">light</x-pill>
                <x-pill color="dark">dark</x-pill>
            </h2>

            <h3 class="mb-4">
                <x-pill color="primary">primary</x-pill>
                <x-pill color="secondary">secondary</x-pill>
                <x-pill color="success">success</x-pill>
                <x-pill color="danger">danger</x-pill>
                <x-pill color="warning">warning</x-pill>
                <x-pill color="info">info</x-pill>
                <x-pill color="light">light</x-pill>
                <x-pill color="dark">dark</x-pill>
            </h3>

            <h4 class="mb-4">
                <x-pill color="primary">primary</x-pill>
                <x-pill color="secondary">secondary</x-pill>
                <x-pill color="success">success</x-pill>
                <x-pill color="danger">danger</x-pill>
                <x-pill color="warning">warning</x-pill>
                <x-pill color="info">info</x-pill>
                <x-pill color="light">light</x-pill>
                <x-pill color="dark">dark</x-pill>
            </h4>

            <h5 class="mb-4">
                <x-pill color="primary">primary</x-pill>
                <x-pill color="secondary">secondary</x-pill>
                <x-pill color="success">success</x-pill>
                <x-pill color="danger">danger</x-pill>
                <x-pill color="warning">warning</x-pill>
                <x-pill color="info">info</x-pill>
                <x-pill color="light">light</x-pill>
                <x-pill color="dark">dark</x-pill>
            </h5>

        </x-col>

        <!-- codigo fonte do exemplo aparece aqui -->
        <x-col class="col-12">
            <x-card class="mt-5">
                <header>
                    <i class="fa fa-code"></i> Código do exemplo acima</header>
                <div class="card-body">
                    <pre class="pre-scrollable"></pre>
                </div>
            </x-card>
        </x-col>

    </x-row>

</x-wrap>