<x-meta title="Buttons" />

<x-wrap>

    <x-row>

        <x-col size="12">
            <a class="float-right text-muted" href="https://getbootstrap.com/docs/4.0/components/buttons/" target="docs">Ver documentação original <i class="fa fa-external-link-alt"></i></a>
            <h1 class="mb-4">Buttons</h1>
        </x-col>
        
        <!-- exibir codigo fonte do exemplo dentro da tag <pre> la embaixo -->
        <x-show-example-code />

        <!-- exemplo -->
        <x-col class="example">

            <div class="mb-4">
                <x-button color="primary" size="lg">primary</x-button>
                <x-button color="secondary" size="lg">secondary</x-button>
                <x-button color="success" size="lg">success</x-button>
                <x-button color="danger" size="lg">danger</x-button>
                <x-button color="warning" size="lg">warning</x-button>
                <x-button color="info" size="lg">info</x-button>
                <x-button color="light" size="lg">light</x-button>
                <x-button color="dark" size="lg">dark</x-button>
            </div>

            <div class="mb-4">
                <x-button color="primary">primary</x-button>
                <x-button color="secondary">secondary</x-button>
                <x-button color="success">success</x-button>
                <x-button color="danger">danger</x-button>
                <x-button color="warning">warning</x-button>
                <x-button color="info">info</x-button>
                <x-button color="light">light</x-button>
                <x-button color="dark">dark</x-button>
            </div>

            <div class="mb-4">
                <x-button color="primary" size="sm">primary</x-button>
                <x-button color="secondary" size="sm">secondary</x-button>
                <x-button color="success" size="sm">success</x-button>
                <x-button color="danger" size="sm">danger</x-button>
                <x-button color="warning" size="sm">warning</x-button>
                <x-button color="info" size="sm">info</x-button>
                <x-button color="light" size="sm">light</x-button>
                <x-button color="dark" size="sm">dark</x-button>
            </div>
        </x-col>

        <!-- codigo fonte do exemplo aparece aqui -->
        <x-col class="col-12">
            <x-card class="mt-5">
                <header>
                    <i class="fa fa-code"></i> Código do exemplo acima</header>
                <div class="card-body">
                    <pre class="pre-scrollable"></pre>
                </div>
            </x-card>
        </x-col>


    </x-row>

</x-wrap>