<x-meta title="Cards" />

<x-wrap>

    <x-row>
        <x-col>
            <a class="float-right text-muted" href="https://getbootstrap.com/docs/4.0/components/card/" target="docs">Ver documentação original <i class="fa fa-external-link-alt"></i></a>
            <h1 class="mb-4">Cards</h1>

            <!-- render example code -->
            <x-show-example-code />

            <!-- exemplo -->
            <x-card class="example text-center">

                <header>Featured</header>

                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">
                        With supporting text below as a natural lead-in to additional content.
                    </p>
                    <x-button>Go somewhere</x-button>
                </div>

                <footer class="text-muted">2 days ago</footer>

            </x-card>

            <!-- exibir codigo fonte do componente acima -->
            <x-card class="mt-5">
                <header><i class="fa fa-code"></i> Código do exemplo acima</header>
                <div class="card-body">
                    <pre class="pre-scrollable"></pre>
                </div>
            </x-card>

        </x-col>
    </x-row>
</x-wrap>